


@using (Html.BeginForm("SearchSonuc", "Home", FormMethod.Get))
{
    <div class="input-group">
        <input type="text" class="form-control" name="urunAdi">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span><span class="mr-2"> Ara..</span>
            </button>
        </span>
    </div>
}
