<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ornek Uygulama</title>





    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">


    <!-- Main Stylesheets -->
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @*@Html.ActionLink("Uygulama Tanıtım Sitesi", "Index", "Home", null, new { @class = "navbar-brand" })*@

    

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>


</body>
</html>